<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.faltenreich.diaguard">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk tools:overrideLibrary="ca.barrenechea.widget.recyclerview.decoration, com.gregacucnik.editableseekbar, com.daasuu.cat, com.beloo.widget.chipslayoutmanager" />

    <application
        android:name=".DiaguardApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <receiver android:name=".util.AlarmBroadcastReceiver" />

        <activity
            android:name=".ui.activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:resizeableActivity="true"
            tools:ignore="UnusedAttribute">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <activity
            android:name=".ui.activity.EntryActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/entry_new"
            android:windowSoftInputMode="adjustResize|stateHidden"
            android:exported="true">
            <meta-data
                android:name=".ui.activity.EntryActivity"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.EntrySearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/search"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.FoodSearchActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/food"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name=".ui.activity.FoodSearchActivity"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <activity
            android:name=".ui.activity.FoodActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/food"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name=".ui.activity.FoodActivity"
                android:value=".ui.activity.FoodSearchActivity" />
        </activity>

        <activity
            android:name=".ui.activity.FoodEditActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/food_new"
            android:windowSoftInputMode="adjustResize|stateHidden"/>

        <activity
            android:name=".ui.activity.TagsActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/tags"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <meta-data
                android:name=".ui.activity.TagsActivity"
                android:value=".ui.activity.EntryActivity" />
        </activity>

        <activity
            android:name=".ui.activity.PreferenceActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/settings"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name=".ui.activity.PreferenceActivity"
                android:value=".ui.activity.MainActivity" />
        </activity>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <receiver android:name=".util.AlarmBroadcastReceiver" />

        <meta-data android:name="android.max_aspect" android:value="2.1"/>

    </application>

</manifest>